<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link
      href="{{ url_for('static', filename='css/main.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col h-screen">
    <header class="sticky top-0 bg-gray-300 py-4">
      {% include 'components/header.html' %}
    </header>
    <hr class="my-4" />
    <div class="flex-grow flex items-center justify-center">
      <div class="w-full max-w-2xl px-4">
        {% block content %} {% endblock %}
      </div>
    </div>
    <footer class="sticky bottom-0 bg-gray-200 py-4">
      {% include 'components/footer.html' %}
    </footer>
  </body>
</html>
